header.header-main
    .full-screen 
        .full-screen__body 
            .full-screen__pre-title Муниципальное автономное учреждение дополнительного образования города Калининграда
            .full-screen__title Станция юных техников
            .full-screen__text 236006, Калининград, Московский проспект, 98 | тел. +7 (4012) 97 33 96 | email: gsyut@edu.klgd.ru
        video(preload="auto" loop muted autoplay).full-screen__video
            source(src="video/technomix.webm" type="video/webm")
            source(src="video/technomix.mp4" type="video/mp4")
    .marquee-container
        p.marquee.
            <span>Программирование Scratch</span> | Судомоделирование | Анимация и видеопроизводство | Робототехника | Детско-юношеская автошкола | 3D-моделирование | Радиотехническое конструирование | <span>Программирование Python</span> | Танцевальная студия | Начальное техническое моделирование | Изобразительное искусство | <span>Верстка веб-сайтов</span> | LEGO-роботы | Английский язык | 3D-ручка | Вокальная студия | 
include menu



