header.header-main
    .conteiner 
        .full-screen 
            .full-screen__body 
                .full-screen__title 
                .full-screen__text
        .video
            video(preload="auto" loop muted autoplay controls).video__item
                source(src="#" type="video/webm")
                source(src="#" type="video/mp4")

