nav.menu 
    ul.menu__list
        each name in ['Главная', 'Новости', 'Объединения', 'Расписание', 'Педагоги', 'Дистант', 'Контакты']
            li
                a(href="#").menu__list-item= name