- var i = 0
nav.menu 
    .menu__list
        each name in ['Главная', 'Новости', 'Объединения', 'Расписание', 'Записаться', 'Информация']
            if i == 0
                a.menu__list-item.menu__list-item--active(href="#"+(i++))= name
            else 
                a.menu__list-item(href="#"+(i++))= name
    .menu__form
        form.menu__form-item.form
            input.form__input.input(type="text" placeholder="Поиск по сайту...")
            button.form__button.button(type="submit")
        img.menu__eye(src="img/eye.svg" alt="для слабовидящих")
    

