html(lang='ru')
    include html/head
    body 
        include html/header_main
        main.page
            h1 Привет!
            span  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores reprehenderit nam quam optio, magnam, voluptatum error quod quae praesentium nobis non quis sit vitae corporis consectetur deserunt impedit, animi autem.
        include html/footer
        script(src="js/app.min.js")