* {
	//outline: 1px solid orange;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-main {
	width: 100%;
	height: 95%;

}
.full-screen {
	background: #000;
	position: relative;
	min-height: 100vh;
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	&__body {
		position: relative;
		color: azure;
		z-index: 2;
		display: flex;
		width: 89%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		
		font-family: sans-serif;
		padding-left: 30px;
	}
	&__pre-title {
		font-size: max(12px,calc(2.1vw - 5px));
		letter-spacing: 1px;
		padding-top: 10px;
		text-shadow: 2px 2px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
	}
	&__title {
		text-transform: uppercase;
		font-size: max(24px, calc(5.6vw - 5px));
		letter-spacing: 3px;
		text-shadow: 4px 4px 10px rgb(0, 0, 0), -4px -4px 10px rgb(0, 0, 0);
		margin: 0;
		font-weight: 400;
	}
	&__text {
		font-size: max(12px,calc(2.0vw - 5px));
		letter-spacing: 1px;
		text-shadow: 2px 2px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
	}
	&__video {
		position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
	}
	&__image {
		z-index: 5;
		max-width: 11%;
		margin: 1vw 1vw 0 0;
		flex: 1 1 0;

	}
	&__image img {
		max-width: 100%;
		object-fit: cover;
	}
}

.marquee-container {
	display: flex;
    align-items: center;
	width: 100%;
    overflow: hidden;
	position: absolute;
	bottom: 10%;
	z-index: 3;
}

.marquee {
	font-size: 30px;
    line-height: 1.3;
    font-family: sans-serif;
    padding: 24px 0;
    color: #fff;
    white-space: nowrap;
	text-shadow: 2px 2px 3px rgb(0, 0, 0), -2px -2px 3px rgb(0, 0, 0), -2px 2px 3px rgb(0, 0, 0), 2px -2px 3px rgb(0, 0, 0);
    animation: marquee 40s infinite linear; /* notice the infinite */
	&::after {
		content: "Программирование Scratch | Судомоделирование | Анимация и видеопроизводство | Робототехника | Детско-юношеская автошкола | 3D-моделирование | Радиотехническое конструирование | Программирование Python | Танцевальная студия | Начальное техническое моделирование | Изобразительное искусство | Верстка веб-сайтов | LEGO-роботы | Английский язык | 3D-ручка | Вокальная студия |";
	}	
}	 

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

.menu {
	z-index: 3;
	position: sticky;
	top: 20px;

		&__list {
			display:flex;
			justify-content: space-around;
			list-style-type: none;
			margin: 0 20px;
			letter-spacing: 1px;
			text-transform: uppercase;
			cursor: pointer;
			font-family: sans-serif;
		}

		&__list-item {
			background-color: blue;
			padding: 10px 30px;
			border-radius: 10px;
			color:azure;
			border: 1px solid rgb(0, 0, 173);
			text-decoration: none;
			transition: all .3s ease-in-out;
		}
		
		&__list-item:hover {
			color:#fff;
			background-color: blue;
			box-shadow: 0 0 20px 8px #ffffff;
		}

		&__list-item_active {
			border: 3px solid #fff;
			font-weight: 700;
			box-shadow: 0 0 20px 8px #ffffff;
		}
}
.page {
	position: relative;
	z-index: 2;
	background-color: rgb(29, 5, 5);
	color:azure;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.footer {
}