.empty{
		}
            

.header-main {
	margin: 0 auto;
	min-width: 100vw;
}
.full-screen {
	background: #000;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.384);
	
		&__body {
			position: relative;
			color: azure;
			z-index: 2;
			display: flex;
			flex: 1 1 auto;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			
		}

		&__pre-title {
			font-size: 1.2rem;
			text-shadow: 2px 2px 5px rgb(0, 0, 0), -2px 2px 5px rgb(0, 0, 0), 2px -2px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
		}

		&__title {
			font-size: 4rem;
			text-shadow: 2px 2px 5px rgb(0, 0, 0), -2px 2px 5px rgb(0, 0, 0), 2px -2px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
		}

		&__text {
			font-size: 1.2rem;
			text-shadow: 2px 2px 5px rgb(0, 0, 0), -2px 2px 5px rgb(0, 0, 0), 2px -2px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
		}

		&__video {
			position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
		}

		&__video-item {
		}
}
.menu {

		&__list {
		}

		&__list-item {
		}
}
.page {
}
.footer {
}
		